<h1>Editing book</h1>

<%= render 'form'%>
<li><%= button_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<li><%= button_to 'Show', @book,method: :get %> </li>
<!-- <li><%#= button_to 'Back to new create book', books_path ,method: :get%></li> -->